body{
    background-color:#ffff80
}


.footer{
   background-color: black

}
#location{
    color: white
}
#phone{
    color: white
}
#contacts{
    color:white;
}
.url{
    color:#9999ff
}
.feedback-hedder{
     display: flex;
     justify-content: center
}
.moved-cars{
     display: flex;
     justify-content: center
}
.about{
     display: flex;
     justify-content: center
}
.contacts{
     display: flex;
     justify-content: center
}
.logo{
    display:flex;
    justify-content:space-around;
}
#location{
    display: flex;
    justify-content:center
}
.description{
    display: flex;
    justify-content: space-evenly
}
.about-us{
    line-height: 1.5;
	padding: 30px;
}
